.russia__places {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: grid;
    row-gap: 80px;
  }
  @media screen and (max-width: 980px) {
    .russia__places {
      row-gap: 73px;
    }
  }
  @media screen and (max-width: 690px) {
    .russia__places {
      row-gap: 50px;
    }
  }
