.place__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: image;
  }
  @media screen and (max-width: 980px) {
    .place__image {
      height: 340px;
    }
  }
  @media screen and (max-width: 690px) {
    .place__image {
      height: 320px;
    }
  }