.russia {
    margin: 0 auto;
    padding: 92px 148px 0;
  }
  @media screen and (max-width: 1150px) {
    .russia {
      padding: 92px 48px 0;
    }
  }
  @media screen and (max-width: 980px) {
    .russia {
      padding: 88px 24px 0;
    }
  }
  @media screen and (max-width: 690px) {
    .russia {
      padding: 64px 0 0;
    }
  }
