.page {
  min-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  background-color: #2A2C2F;
}
/* TODO попробовать сделать отступы меж блоков гридами */
.header {
  padding: 28px 48px 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  background-image: url(../../russian-travel/__logo.svg);
  color: #FFFFFF;
  width: 176px;
  height: 52px;
}

.header__lang-link {
margin: 0;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.1;
}
.header__lang-link:first-child {
  margin-right: 18px;
  text-decoration: underline;
}
/* TODO проверить размеры  FONTS */

.lead {
padding-top: 56px;
margin: 0 auto;
width: 75%;
}

.lead__title {
  width: 70%;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.1;
}
.lead__subtitle {
  width: 60%;
  padding-top: 32px;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.1;
}
.lead__image {
  padding-top: 64px;
  width: 100%;
  object-fit: cover;
}
.lead__caption {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.1;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}
.lead__figure {
  margin: 0 auto;
}
/* TODO сделать картинку резиновой по высоте */

.intro {
  padding-top: 56px;
  margin: 0 auto;
  width: 75%;
}

.intro__title {
  max-width: 690px;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.1;
}
.intro__text {
  max-width: 690px;
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 25px;
}
.intro__list {
  padding: 30px 0 0;
  list-style-type: none;
  margin: 0;
}
.intro__point {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}
.intro__point-value {
  font-weight: normal;
}

.photo {
  margin: 0 auto;
  padding: 96px 48px 0;
}
.photo-grid {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  grid-auto-flow: row;
  gap: 16px;
}
.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.russian-places {
margin: 0 auto;
padding: 92px 148px 0;
}
.places {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: grid;
  row-gap: 80px;
}
.place {
display: grid;
grid-template-columns: 460px 1fr;
grid-template-rows: minmax(min-content, max-content) 460px ;
grid-template-areas:
"header url"
"image paragraph";
row-gap: 48px;
column-gap: 40px;
}
.place__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 72px;
  line-height: 76px;
  grid-area: header;
}
.place__place__link {
  grid-area: url;
  align-self: end;
}
.place__url-heading {
  margin: 0;
  color: #AAAAAA;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  padding-bottom: 12px;

}
.place__url {
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
}
.place__paragraphs {
  grid-area: paragraph;
}
.place__paragraph {
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}
.place__paragraph:last-child {
padding-top: 26px;
}
.place__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  grid-area: image;
}
